<launch>
 <!-- master auto="start"/ -->
 <!--
 <node pkg="diagnosis_observers" type="GObs.py" name="GObs1" output="screen">
    <param name="topic" value="/scan" />
    <param name="frq" value="5" />
    <param name="dev" value="1" />
    <param name="ws" value="10" />
 </node>
  <node pkg="diagnosis_observers" type="GObs.py" name="GObs2" output="screen">
    <param name="topic" value="/RosAria/pose" />
    <param name="frq" value="1" />
    <param name="dev" value="1" />
    <param name="ws" value="10" />
   </node>
  -->
 <node pkg="diagnosis_observers" type="GObs.py" name="GObs1" output="screen">
    <param name="topic" value="/Topic1" />
    <param name="frq" value="10" />
    <param name="dev" value="1" />
    <param name="ws" value="10" />
 </node>
  <node pkg="diagnosis_observers" type="GObs.py" name="GObs2" output="screen">
    <param name="topic" value="/Topic2" />
    <param name="frq" value="1" />
    <param name="dev" value="1" />
    <param name="ws" value="10" />
 </node>
 <!--
 <node pkg="diagnosis_observers" type="MObs.py" name="MObs" output="screen">
    <param name="in_topic" value="/Topic1" />
    <param name="out_topic" value="/Topic2" />
    <param name="tm" value="500" />
  </node>

 <node pkg="diagnosis_observers" type="DObs.py" name="DObs" output="screen">
    <param name="dev_node" value="hokuyo_node" />
 </node>
 

 <node pkg="diagnosis_observers" type="QObs.py" name="QObs" output="screen">
    <param name="topic" value="/RosAria/pose" />
    <param name="field" value="pose.pose.position.x" />
    <param name="ws" value="500" />
 </node>

  -->
 </launch>
