<launch>
 <!-- master auto="start"/ -->
 <!--
 <node pkg="rosjava_bootstrap" type="run.py" args="diagnosis_engine diagnosis_engine" name="diagnosis_engine" output="log"/> 

 <node pkg="rosjava_bootstrap" type="run.py" args="diagnosis_repair planner" name="planner" output="log"/> 

 <node pkg="diagnosis_board" type="NodeActionServer" name="NodeActionServer" output="log">
 </node>

 <node pkg="diagnosis_board" type="BoardControllerServer" name="BoardController" output="log">
 </node>

 -->
 <node pkg="diagnosis_observers" type="GObs.py" name="OdometryObserver" output="log">
    <param name="topic" value="/odometry" />
    <param name="frq" value="10" />
    <param name="dev" value="1" />
    <param name="ws" value="10" />
 </node>

  <node pkg="diagnosis_observers" type="NObs.py" name="JNodeObserver" output="log">
    <param name="node" value="jaguar_base" />
 </node> 

 <node pkg="diagnosis_observers" type="HObs.py" name="HardwareObserver" output="log">
 </node>


 </launch>

