<?xml version="1.0"?>
<launch>
 <!-- master auto="start"/ -->
 
		<node pkg="xsens_imu" type="xsens_mti" name="imu_node" output="screen" clear_params="true">
        <param name="frame_id" type="bool" value="true" />

        <param name="port" type="str" value="/dev/ttyUSB1" />
        <param name="timeout" type="int" value="500" />
        <param name="frequency" type="int" value="50" />
        <param name="use_mag" type="bool" value="true" />
        <param name="heading" type="double" value="0" />

        <param name="restore_factory_def" type="bool" value="false" />
        <param name="set_no_rotation" type="bool" value="true" />

        <param name="linear_acceleration_stdev" type="double" value="0.01" />
        <param name="orientation_roll_pitch_stdev" type="double" value="0.01" />
        <param name="orientation_heading_stdev" type="double" value="0.01" />
        <param name="angular_velocity_stdev" type="double" value="0.01" />

    </node>
 
 </launch>
