<?xml version="1.0"?>
<launch>

    <node pkg="DrRobotJaguar" type="DrRobotJaguar" name="laser_node" output="log">
        <remap from="/jaguar/odom" to="/odometry" />

	<param name="MaxTransVel" type="double" value="0.3"/>
        <param name="MaxRotVel" type="double" value="0.7854"/>
        <param name="WeelRadius" type="double" value="0.176"/>
        <param name="WeelDistance" type="double" value="0.52"/>
        <param name="EncoderRes" type="double" value="260.0"/>
        <param name="MotorDir" type="double" value="-1.0"/>
        <param name="MaxEncoderValue" type="int" value="32767"/>
        <param name="OverflowLevel" type="double" value="1000.0"/>

        <param name="RobotID" type="str" value="Jaguar"/>

        <param name="RobotBaseIP" type="str" value="192.168.0.60"/>

        <param name="RobotPortNum" type="int" value="10001"/>

        <param name="RobotFrame" type="str" value="base_link"/>
        <param name="OdomFrame" type="str" value="odom"/>
    </node>

</launch>
