<?xml version="1.0"?>
<launch>

    <node pkg="tf" type="static_transform_publisher" name="la_base_link_broadcaster" args="0.214 0 0.17 0 0 0 base_link la_base_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="la_servo1_base_link_broadcaster" args=" 0 0 0.128 0 1.570796 0 la_base_link la_servo1_base_link 10" />

    <node pkg="DynamixelServos" type="DynamixelServosTfPub.py" name="la_servo1_base_link1_broadcaster" output="log">
        <remap from="/robotis/servo_la_servo1" to="angle1"/>
        <param name="servo_name" value="la_servo1" />
        <param name="servo_offset" value="-0.01" />
        <param name="servo_base_link1" value="la_servo1_base_link" />
        <param name="servo_base_link2" value="la_servo1_base_link1" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="la_servo2_base_link_broadcaster" args="-0.02 0 0.02 0 0 1.570796 la_servo1_base_link1 la_servo2_base_link 10" />


    <node pkg="DynamixelServos" type="DynamixelServosTfPub.py" name="la_servo2_base_link1_broadcaster" output="log">
        <remap from="/robotis/servo_la_servo2" to="angle2"/>
        <param name="servo_name" value="la_servo2" />
        <param name="servo_offset" value="-0.32" />
        <param name="servo_base_link1" value="la_servo2_base_link" />
        <param name="servo_base_link2" value="la_servo2_base_link1" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="la_laser_platform" args="-0.03 0 0 1.570796 0 -1.570796 la_servo2_base_link1 la_laser_platform 10" />

    <node pkg="tf" type="static_transform_publisher" name="table_link_to_kinect_rgb" args="0 0 0.055 0 0 0 la_laser_platform laser 10" />

    <node pkg="DynamixelServos" type="DynamixelServos.py" name="laser_alignment_node" output="screen" cwd="node" >
        <remap from="/robotis/servo_la_servo1" to="angle1"/>
        <remap from="/robotis/servo_la_servo2" to="angle2"/>

        <param name="port" value="/dev/ttyUSB0" />
        <param name="id1" value="11" />
        <param name="id2" value="12" />
        <param name="name1" value="la_servo1" />
        <param name="name2" value="la_servo2" />
    </node>

</launch>
