<?xml version="1.0"?>
<launch>
 <!-- master auto="start"/ -->
 
    <node pkg="DrRobotJaguar" type="DrRobotJaguar" name="jaguar_node" output="screen">
        <remap from="/jaguar/odom" to="/odom" />

        <param name="MaxTransVel" type="double" value="0.5"/>
        <param name="MaxRotVel" type="double" value="1.8"/>
        <param name="WeelRadius" type="double" value="0.176"/>
        <param name="WeelDistance" type="double" value="0.52"/>
        <param name="EncoderRes" type="double" value="260.0"/>
        <param name="MotorDir" type="double" value="-1.0"/>
        <param name="MaxEncoderValue" type="int" value="32767"/>
        <param name="OverflowLevel" type="double" value="1000.0"/>
				<param name="RobotID" type="str" value="Jaguar"/>
				<param name="RobotBaseIP" type="str" value="192.168.0.60"/>
				<param name="RobotPortNum" type="int" value="10001"/>
				<param name="RobotFrame" type="str" value="base_link"/>
        <param name="OdomFrame" type="str" value="odom"/>

    </node>

		<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
        <param name="calibrate_time" value="false"/>
        <param name="port" value="/dev/ttyACM0"/>
        <param name="cluster" value="1" />
        <param name="skip" value="1" />
        <param name="frame_id" value="/laser" />
        <param name="intensity" value="false" />
        <param name="min_ang" value="-2.2689" />
        <param name="max_ang" value="2.2689" />
    </node>

		<node pkg="xsens_imu" type="xsens_mti" name="imu_node" output="screen" clear_params="true">
        <param name="frame_id" type="bool" value="true" />

        <param name="port" type="str" value="/dev/ttyUSB1" />
        <param name="timeout" type="int" value="500" />
        <param name="frequency" type="int" value="50" />
        <param name="use_mag" type="bool" value="true" />
        <param name="heading" type="double" value="0" />

        <param name="restore_factory_def" type="bool" value="false" />
        <param name="set_no_rotation" type="bool" value="true" />

        <param name="linear_acceleration_stdev" type="double" value="0.01" />
        <param name="orientation_roll_pitch_stdev" type="double" value="0.01" />
        <param name="orientation_heading_stdev" type="double" value="0.01" />
        <param name="angular_velocity_stdev" type="double" value="0.01" />

    </node>

	<arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <node pkg="openni_camera" type="openni_node" name="kinect_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="device_id" value="#1"/> <!-- this line uses first enumerated device -->
    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
    <param name="rgb_frame_id" value="/openni_rgb_optical_frame" />
    <param name="depth_frame_id" value="/openni_depth_optical_frame" />
    <param name="use_indices" value="false" />
    <param name="depth_registration" value="true" />
    <param name="image_mode" value="2" />
    <param name="depth_mode" value="2" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="0" />
    <param name="image_time_offset" value="0" />
  </node>
 
 </launch>
