<?xml version="1.0"?>
<launch>
 <!-- master auto="start"/ -->
 
 <node pkg="diagnosis_observers" type="NObs.py" name="TestNObserver" >
    <param name="node" value="test_node" />
 </node>

 <node pkg="diagnosis_observers" type="GObs.py" name="TestGObserver" >
  <param name="topic" value="/test_node_topic" />
  <param name="frq" value="10" />
  <param name="dev" value="5" />
  <param name="ws" value="10" />
 </node>

</launch>

