<?xml version="1.0"?>
<launch>
 <!-- master auto="start"/ -->

 <rosparam param="file"> "/home/tedusar/robotics/model_based_diagnosis/diagnosis_repair/repair_domain.pddl" </rosparam>
 <node pkg="rosjava_bootstrap" 
       type="run.py" 
       args="diagnosis_repair plannerRepair"
       name="plannerRepair" 
       output="log"> 
 </node>

</launch>

