<?xml version="1.0"?>
<launch>
 <!-- master auto="start"/ -->
 
 <node pkg="tug_ist_diagnosis_model" 
        type="diagnosis_model_server.py" 
        name="DiagnosisModelServer" 
        output="log">
  <param name="model" value="$(find tug_ist_diagnosis_model)/diagnosis_model.yaml" />
  </node>

</launch>

